In [1]:
name='srishti'                                                        
x=10
y=3
z=3.14

In [2]:
del name

## operators 
- Arithmatic operators 
- Assignment operators 
- comparisons operators 
- logically operators 
- identify operators
- Membership operators

In [3]:
a = x + y
a += 1
a -=1 
a *=2
a /=5 
print(a)

5.2

In [4]:
10 > 3 and 5 > 3

True

In [5]:
#compararison operation 
print (x>y)
print(x<y)
print(x>y)
print (x<=y)

True
False
True
False

In [6]:
#and, or, not 
x < y or y <10

True

In [7]:
not x > y

False

In [8]:
fruits=[ 'Apple' ,'Banana','Cherry']
print('Apple' in fruits)
print('Banana' in fruits)
print ('Pomegranate'in fruits)
print('Apple' in fruits )

True
True
False
True

In [9]:
f =['Apple','Banana','Cherry']

In [10]:
fruits == f

True

In [11]:
x=10
y=10
print(x==y)
print (x is y)

True
True

In [12]:
name = input("enter your name:")

In [13]:
city= input ("enter your name")
age=input ("enter your age: ")
print ( name,city,age )

srishti

In [14]:
srishtix=10
print (type (x))
#convert x  to float 
x = float (x)
print (x,type (x))
#convert x to float and assign it to x 
print  (x,type (x))
#convert x to string 
x = str (x)
print (x,type (x))
#convert to boolean
x =bool (x)
print (x,type (x))
x= str (x)
print (x,type (x))
# x = int (x)# ye nahi hoga
print(x,type (x))

<class 'int'>
10.0 <class 'float'>
10.0 <class 'float'>
10.0 <class 'str'>
True <class 'bool'>
True <class 'str'>
True <class 'str'>

In [15]:
x=int(input('enter number for A:'))
y=int(input ('enter number for B:'))
print(x + y)

ValueError: invalid literal for int() with base 10: ''

In [ ]:
print (name)

srishti

In [ ]:
print('name:',name )
print ('age :', age )
print ('city:',city)

name: srishti
age : 21
city: lucknow

In [ ]:
print (name,age,city,sep=',')

srishti,21,lucknow

In [ ]:
print(x,end=' ')
print(y)

100 110

In [ ]:
f'i live in {city} '

'i live in lucknow '

In [1]:
print (f'x={x},y={y}')

NameError: name 'x' is not defined