In [5]:
raju=[56,90,34,34,56]


raju_dict={
    'english':56,
    'Hindi' :90,
    'Maths':34,
    'Chemestry':34,
    'Evs': 56,
}

In [6]:
company={
    'emp001':{
        'name':"Amar Kumar",
        'designation':'Assistant III',
        'salary':89000
    },
    'total_emp':2,
    'department':'Accounts',
    'vacancy':['clerk','manager','assistant I']
}

In [7]:
company['name']='Acme inc'
print(company)

{'emp001': {'name': 'Amar Kumar', 'designation': 'Assistant III', 'salary': 89000}, 'total_emp': 2, 'department': 'Accounts', 'vacancy': ['clerk', 'manager', 'assistant I'], 'name': 'Acme inc'}

In [8]:
company['total_emp']=3
company['emp003']={
    'name':'Ajay verma',
    'designation':'clerk',
    'salary':45000
}

In [11]:
company

{'emp001': {'name': 'Amar Kumar',
  'designation': 'Assistant III',
  'salary': 89000},
 'total_emp': 3,
 'department': 'Accounts',
 'vacancy': ['clerk', 'manager', 'assistant I'],
 'name': 'Acme inc',
 'emp003': {'name': 'Ajay verma', 'designation': 'clerk', 'salary': 45000}}

In [12]:
print((company.keys))
print((company.values))

<built-in method keys of dict object at 0x00000184BD6BC780>
<built-in method values of dict object at 0x00000184BD6BC780>

In [13]:
print(company.items())

dict_items([('emp001', {'name': 'Amar Kumar', 'designation': 'Assistant III', 'salary': 89000}), ('total_emp', 3), ('department', 'Accounts'), ('vacancy', ['clerk', 'manager', 'assistant I']), ('name', 'Acme inc'), ('emp003', {'name': 'Ajay verma', 'designation': 'clerk', 'salary': 45000})])

In [20]:
for i in company:
    print(i,company[i])

emp001 {'name': 'Amar Kumar', 'designation': 'Assistant III', 'salary': 89000}
total_emp 3
department Accounts
vacancy ['clerk', 'manager', 'assistant I']
name Acme inc
emp003 {'name': 'Ajay verma', 'designation': 'clerk', 'salary': 45000}

In [21]:
for k,v in company.items():
    print(k,v)

emp001 {'name': 'Amar Kumar', 'designation': 'Assistant III', 'salary': 89000}
total_emp 3
department Accounts
vacancy ['clerk', 'manager', 'assistant I']
name Acme inc
emp003 {'name': 'Ajay verma', 'designation': 'clerk', 'salary': 45000}

In [22]:
for k, v in company.items():
    if isinstance(v, dict):
        print(k)
        for key,values in v.items():
            print("--->",key,)
        else:
            print(k,v)

emp001
---> name
---> designation
---> salary
emp001 {'name': 'Amar Kumar', 'designation': 'Assistant III', 'salary': 89000}
emp003
---> name
---> designation
---> salary
emp003 {'name': 'Ajay verma', 'designation': 'clerk', 'salary': 45000}